:host {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard-background {
  position: relative;
  width: 100%;
  isolation: isolate;
  box-sizing: border-box;
  flex-grow: 1;
}

.dashboard-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-image: url('/images/blb-kisko-app.png');
  // background-size: cover;
  // background-position: center;
  // opacity: 0.2; // Adjust for desired transparency
  // z-index: -1;
}

.container {
  padding: 20px;
}

.welcome-header {
  margin-bottom: 30px;
  text-align: center;

  h1 {
    margin: 0 0 0.5rem 0;
    font-weight: 300;
    font-size: 2rem;
    color: #333;
  }

  p {
    margin: 0;
    color: #666;
  }
}

.widgets-container {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}