.header {
  position: sticky; // or 'fixed' if you prefer
  top: 0;
  z-index: 800; // Ensure toolbar is always on top, even above loading overlay
}


.sidenav-width {
  width: 250px; /* You can adjust this value to your desired width */
}

.home-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  line-height: normal;
}

.spacer {
  flex: 1 1 auto;
}

.app-container {
  position: relative; // Ensures proper stacking context for the content
  height: calc(100vh - 64px); // Adjust based on your toolbar height
  isolation: isolate;// Create a new stacking context
}

.loading-overlay {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 890;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex-grow: 1;
}

.footer {
  padding: 1rem;
  text-align: center;
  background-color: #f5f5f5;
}