.page-container {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  h1 {
    margin: 0;
  }
}

tr.detail-row {
  height: 0;
  display:none;
}

.sale-row td {
  border-bottom-width: 0;
}

.sale-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #f9f9f9;

  h4 {
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.table-container {
  position: relative;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px; // Height of the paginator
  right: 0;
  background: rgba(255, 255, 255, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}