<div class="container">
  <h1>Purchase History</h1>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Filter Purchases</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Global Tech" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'medium'}} </td>
      </ng-container>

      <!-- Supplier Column -->
      <ng-container matColumnDef="supplierName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier </th>
        <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
      </ng-container>

      <!-- Grand Total Column -->
      <ng-container matColumnDef="grandTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Grand Total </th>
        <td mat-cell *matCellDef="let element"> {{element.grandTotal | currency:'INR'}} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <h4>Purchase Items</h4>
            <ul>
              <li *ngFor="let item of element.items">
                {{ item.product.name }} - {{ item.quantity }} x {{ item.product.cost_price | currency:'INR' }} = {{ item.total | currency:'INR' }}
              </li>
            </ul>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of purchases"></mat-paginator>
  </div>
</div>