<div class="menu-container">
  <mat-nav-list class="navigation-links">
    @for (item of menuItems; track item.route) {
      <a
        mat-list-item
        [routerLink]="item.route"
        routerLinkActive="active-link"
        [matTooltip]="item.name"
        [matTooltipDisabled]="!collapsed"
        (click)="onItemClick()">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        @if (!collapsed) {
          <span matListItemTitle>{{ item.name }}</span>
        }
      </a>
    }
  </mat-nav-list>

  <a mat-list-item (click)="logout()" class="logout-button" matTooltip="Logout" [matTooltipDisabled]="!collapsed">
    <mat-icon matListItemIcon>exit_to_app</mat-icon>
    @if (!collapsed) {
      <span matListItemTitle>Logout</span>
    }
  </a>
</div>